/Dokumentation/Diplomarbeit/Diplomarbeit_KOPG_TGM.acn
/Dokumentation/Diplomarbeit/Diplomarbeit_KOPG_TGM.aux
/Dokumentation/Diplomarbeit/Diplomarbeit_KOPG_TGM.glo
/Dokumentation/Diplomarbeit/Diplomarbeit_KOPG_TGM.lof
/Dokumentation/Diplomarbeit/Diplomarbeit_KOPG_TGM.log
/Dokumentation/Diplomarbeit/Diplomarbeit_KOPG_TGM.out
/Dokumentation/Diplomarbeit/Diplomarbeit_KOPG_TGM.pdf
/Dokumentation/Diplomarbeit/Diplomarbeit_KOPG_TGM.synctex.gz
/Dokumentation/Diplomarbeit/Diplomarbeit_KOPG_TGM.toc
/Dokumentation/Diplomarbeit/Diplomarbeit_KOPG_TGM.xdy
/Dokumentation/Diplomarbeit/tex/appendix.aux
/Dokumentation/Diplomarbeit/tex/chapter1.aux
/Dokumentation/Diplomarbeit/tex/chapter2.aux
/Dokumentation/Diplomarbeit/tex/chapter3.aux
/Dokumentation/Diplomarbeit/tex/chapter4.aux
/Dokumentation/Diplomarbeit/tex/chapter5.aux
/Dokumentation/Diplomarbeit/tex/chapter6.aux
/Dokumentation/Diplomarbeit/tex/eid.aux