<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BacktestingSoftware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BacktestingSoftware.Properties.Settings>
            <setting name="AlgorithmFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="DataFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="EndDate" serializeAs="String">
                <value />
            </setting>
            <setting name="ValueOfSliderOne" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ValueOfSliderTwo" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ValueOfSliderThree" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ValueOfSliderFour" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ValueOfSliderFive" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ValueOfSliderSix" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RoundLotSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Capital" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="AbsTransactionFee" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RelTransactionFee" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PricePremium" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsRealTimeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StockSymbolForRealTime" serializeAs="String">
                <value />
            </setting>
            <setting name="Barsize" serializeAs="String">
                <value>Minute</value>
            </setting>
            <setting name="IsAlgorithmUsingMaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdditionalParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDataFutures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InnerValue" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IsMiniContract" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiniContractDenominator" serializeAs="String">
                <value>1</value>
            </setting>
        </BacktestingSoftware.Properties.Settings>
    </userSettings>
</configuration>